<div class="container">
  <div style="display: flex; flex-direction: column; align-items: center">
    <h1>Prueba</h1>
    <div>
      <input
        [(ngModel)]="newTodo"
        placeholder="Nueva tarea"
        (keyup.enter)="newTodo.length > 0 ? addTodo() : null"
        type="text"
      />
    </div>
    <ul>
      <li
        *ngFor="let todo of todos"
        style="
          display: flex;
          max-width: 150px;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          width: 100%;
          margin-bottom: 5px;
          list-style: none;
        "
      >
        <label class="checkbox">
          <input
            type="checkbox"
            [checked]="todo.completed"
            (change)="toggleCompleted(todo)"
          />
        </label>

        <div style="flex: 1">
          <span *ngIf="!todo.editing" (dblclick)="startEditing(todo)">{{
            todo.title
          }}</span>
          <input
            #editInput
            *ngIf="todo.editing"
            type="text"
            [(ngModel)]="todo.title"
            (blur)="stopEditing(todo)"
            (keydown.enter)="stopEditing(todo)"
          />
        </div>
        <button (click)="deleteTodo(todo.id!)">Borrar</button>
      </li>
    </ul>
  </div>
</div>
