<div style="height: 100vh; display: flex; justify-content: center; align-items:first baseline">
  <div class="has-background-primary-light" style="display: flex; flex-direction: column; align-items: center; gap: 10px; width: 300px; min-height: 400px; max-height: auto; max-width: auto; margin-top: 20px; border-radius: 5px;">
    <h1>Prueba</h1>
    <div>
      <input
        [(ngModel)]="newTodo"
        placeholder="Nueva tarea"
        (keyup.enter)="newTodo.length > 0 ? addTodo() : null"
        type="text"
      />
    </div>
    <ul class="has-text-primary-dark" style="width: inherit; padding: 0 30px 0 30px ;">
      <li
        *ngFor="let todo of todos"
        style="
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          width: 100%;
          margin-bottom: 5px;
          list-style: none;
        "
      >
        <label class="custom-checkbox">
          <input
            type="checkbox"
            [checked]="todo.completed"
            (change)="toggleCompleted(todo)"
          />
          <span class="checkmark"></span>
        </label>

        <div style="flex: 1">
          <span class="todo-text" [class.completed]="todo.completed" *ngIf="!todo.editing" (dblclick)="startEditing(todo)">{{
            todo.title
          }}</span>
          <input
            #editInput
            *ngIf="todo.editing"
            type="text"
            [(ngModel)]="todo.title"
            (blur)="stopEditing(todo)"
            (keydown.enter)="stopEditing(todo)"
          />
        </div>
        <button class="delete is-small" (click)="deleteTodo(todo.id!)"></button>
      </li>
    </ul>
  </div>
</div>
