<div
  style="
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  "
>
  <div
    class="has-background-primary-light todo-box"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 400px;
      min-height: 300px;
      max-height: 600px;
      overflow-y: auto;
      max-width: auto;
      margin-top: 20px;
      border-radius: 5px;
    "
  >
    <h1 style="margin-block: 10px">Lista de tareas</h1>
    <div>
      <input
        class="input is-primary has-background-white has-text-primary-dark"
        [(ngModel)]="newTodo"
        placeholder="Nueva tarea"
        (keyup.enter)="newTodo.length > 0 ? addTodo() : null"
        type="text"
      />
    </div>
    <ul
      class="has-text-primary-dark mb-3"
      style="width: inherit; padding: 10px 30px 0 30px"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <li
        class="todo-item"
        cdkDrag
        *ngFor="let todo of todos"
        style="
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          width: 100%;
          margin-bottom: 5px;
          list-style: none;
        "
      >
        <label class="custom-checkbox">
          <input
            type="checkbox"
            [checked]="todo.completed"
            (change)="toggleCompleted(todo)"
          />
          <span class="checkmark"></span>
        </label>

        <div style="flex: 1">
          <span
            class="todo-text"
            [class.completed]="todo.completed"
            *ngIf="!todo.editing"
            >{{ todo.title }}</span
          >
          <input
            class="input is-primary has-background-white has-text-primary-dark"
            #editInput
            *ngIf="todo.editing"
            type="text"
            [(ngModel)]="todo.title"
            (blur)="stopEditing(todo)"
            (keydown.enter)="stopEditing(todo)"
          />
        </div>
        <div class="buttons">
          <button (click)="startEditing(todo)" *ngIf="!todo.completed">
            <i class="fa-solid fa-pen" style="color: #8a8a8a"></i>
          </button>
          <button (click)="deleteTodo(todo.id!)">
            <i class="fa-solid fa-trash" style="color: #8a8a8a"></i>
          </button>
        </div>
      </li>
    </ul>
    <div class="todo-box-overlay" *ngIf="isGenerating"></div>
  </div>
  <div
    *ngIf="isGenerating"
    style="display: flex; flex-direction: column; align-items: center"
  >
    <p>Generando mensaje, puede llevar unos segundos...</p>
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
</div>
